In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Games data
#game_df_test = game_df_1[['x','y','endX','endY','type','outcomeType']]
#game_df_test.to_csv("game_df_test.csv")

game_df_test = pd.read_csv("game_df_test.csv")

#Adding xT to data
xT_grid = pd.read_csv("https://raw.githubusercontent.com/mckayjohns/xT/main/xT_Grid.csv",header=None)
xT=np.array(xT_grid)
xT_rows, xT_cols = xT.shape

# Create bins based on xT np array
game_df_test['x1_bin'] = pd.cut(game_df_test['x'], bins=xT_cols, labels=False)
game_df_test['y1_bin'] = pd.cut(game_df_test['y'], bins=xT_rows, labels=False)
game_df_test['x2_bin'] = pd.cut(game_df_test['endX'], bins=xT_cols, labels=False)
game_df_test['y2_bin'] = pd.cut(game_df_test['endY'], bins=xT_rows, labels=False)

In [3]:
game_df_test['start_zone_value'] = np.nan
game_df_test['end_zone_value'] = np.nan
game_df_test['xT'] = np.nan

In [4]:
for i in range(game_df_test.shape[0]):
    if (game_df_test.loc[i,'outcomeType'] == "Successful") & (game_df_test.loc[i,'type'] == 'Pass'):

        # Values to match at xT
        x1, y1 = int(game_df_test.loc[i, "x1_bin"]), int(game_df_test.loc[i, "y1_bin"])
        x2, y2 = int(game_df_test.loc[i, "x2_bin"]), int(game_df_test.loc[i, "y2_bin"])
        
        
        # matching values 
        game_df_test.loc[i, "start_zone_value"] = xT[y1, x1] # based on the values of x1_bin and y1_bin in game_df_test, find the matching xT value from the previously defined np array, xT
        game_df_test.loc[i, "end_zone_value"] = xT[y2, x2] # based on the values of x2_bin and y2_bin in game_df_test, find the matching xT value from the previously defined np array, xT
        game_df_test.loc[i, "xT"] = game_df_test.loc[i, "end_zone_value"] - game_df_test.loc[i, "start_zone_value"]
    else:
        pass

In [5]:
game_df_test.head(10)

,Unnamed: 0,x,y,endX,endY,type,outcomeType,x1_bin,y1_bin,x2_bin,y2_bin,start_zone_value,end_zone_value,xT
0,0,0.0,0.0,NaN,NaN,Start,Successful,0,0,NaN,NaN,NaN,NaN,NaN
1,1,0.0,0.0,NaN,NaN,Start,Successful,0,0,NaN,NaN,NaN,NaN,NaN
2,2,50.0,50.0,43.0,45.2,Pass,Successful,6,3,5.0,3.0,0.016895,0.014846,-0.002049
3,3,40.6,40.7,33.0,10.1,Pass,Successful,4,3,3.0,0.0,0.012626,0.009777,-0.002850
4,4,30.1,10.0,22.3,28.0,Pass,Successful,3,0,2.0,2.0,0.009777,0.010013,0.000236
5,5,22.5,29.4,22.7,75.4,Pass,Successful,2,2,2.0,6.0,0.010013,0.009424,-0.000589
6,6,25.7,78.2,30.6,98.0,Pass,Successful,3,6,3.0,7.0,0.010595,0.009777,-0.000818
7,7,26.6,96.2,NaN,NaN,TakeOn,Unsuccessful,3,7,NaN,NaN,NaN,NaN,NaN
8,8,73.4,3.8,NaN,NaN,Tackle,Unsuccessful,8,0,NaN,NaN,NaN,NaN,NaN
9,9,29.1,95.0,20.9,81.1,Pass,Successful,3,7,2.0,6.0,0.009777,0.009424,-0.000353